:root {
    --white: white;
    --altwhite1: rgb(209, 203, 203);
    --grey: rgb(141, 139, 139);
    --opacblack2: rgb(0,0,0,.2);
    --opacblack5: rgb(0,0,0,.5);
    --navBarcolor: rgb(66, 65, 65);
    --navBarColor2: rgb(8, 8, 8);
    --navBarcolorOpac: rgba(5, 5, 0, .9);
    --lightBlue: #3586ff;
    --lightBlueOpac: rgba(53, 134, 255, .5);
    --deepBlue: rgb(0,0,255);
    --lightbluealt: #1670f0;
    --fireyellowlight: #ffeb3b;
    --fireorange: #ff8c3b;
    --purpleRebecca: rebeccapurple;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a:hover {
    text-decoration: none;
}
html {
    scroll-behavior: smooth;
}
/* bootstrap added styles customize */
.m-6 {margin: 5em;} .p6 {margin: 5em;}
.mt-6 { margin-top: 5em;}.mr-6 { margin-right: 5em;}.mb-6 {margin-bottom: 5em;}.ml-6 {margin-left: 5em;}
.pt-6 { padding-top: 5em;}.pr-6 { padding-right: 5em;}.pb-6 {padding-bottom: 5em;}.pl-6 {padding-left: 5em;}
.p-0 {padding: 0!important;}
.m-0 {margin: 0!important;}
.flex-parent-center { display: flex; justify-content: center; align-items: center; flex-wrap: wrap;}
.mh-100 {min-height: 100vh;}
.w-50 {width: 50%;}

/*               body */
body {
    background: var(--lightBlue);
    color: var(--white);
}
.password-container {
    background: var(--deepBlue);
    width: 90%;
    max-width: 400px;
    box-shadow: 0px 4px 10px rgba(5, 5, 0, .5);
}
.password-header {
    padding: 1em;
}
.password {
    width: 100%;
    height: 4.325em;
    padding: .5em;
    background: var(--lightBlue);
    display: flex;
    align-items: center;
    position: relative;
    font-weight: 700;
    /* overflow: auto; */
}
.password button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 100%);
    padding: 0.2em 0.5em;
    border: none;
    background: rgb(8, 8, 83);
    color: wheat;
    opacity: 0;
    transition: opacity .3s ease, transform .3s ease;
    -webkit-transition: opacity .3s ease, transform .3s ease;
    -moz-transition: opacity .3s ease, transform .3s ease;
    -o-transition: opacity .3s ease, transform .3s ease;
    z-index: 3;
}
.password:hover button {
    opacity: 1;
    transform: translate(-50%, 50%);
}
#password-length {
    height: 25px;
}
.password-body {
    padding: 0 1em 1em;
}
.form-div {
    display: flex;
    justify-content: space-between;
    margin: .5em 0;
    color: rgb(238, 238, 238);
    font-weight: 700;
}
.generate {
    padding: .4em .9em;
    width: 100%;
    border: none;
    background: var(--fireyellowlight);
    color: var(--purpleRebecca);
    font-weight: bold;
    font-size: larger;
    white-space: nowrap;
    border-radius: 3px;
    transition: .3s;
    -webkit-transition: .3s;
    -o-transition: .3s;
    -moz-transition: .3s;
    display: flex;
    justify-content: center;
}
.generate:hover,
.generate:focus {
    background: var(--fireorange);
    color: white;
}
/*               end of body */

